<div
  class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-white sidebar"
  style="width: 280px"
>
  <div class="text-center doctor-info"></div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" class="nav-link">
        <i class="bi bi-house-heart"></i>
        Ana Sayfa
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
        <i class="bi bi-calendar-heart"></i>
        Randevu Al
      </a>
    </li>
    <li class="nav-item">
      <a
        data-bs-toggle="collapse"
        href="#appointmentCollapse"
        role="button"
        aria-expanded="false"
        aria-controls="appointmentCollapse"
        class="nav-link"
      >
        <i class="bi bi-calendar3-week"></i>
        Randevu Yönetimi
      </a>
      <div class="collapse" id="appointmentCollapse">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a
              routerLink="/patient-past-appointments"
              routerLinkActive="active"
              class="nav-link"
            >
              <i class="bi bi-arrow-left-square"></i>
              Geçmiş Randevular
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/"
              routerLinkActive="active"
              class="nav-link"
            >
              <i class="bi bi-arrow-right-square"></i>
              Gelecek Randevular
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
        <i class="bi bi-journal"></i>
        Raporlar
      </a>
    </li>
    <!-- <li class="nav-item">
        <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
          <i class="bi bi-people-fill"></i>
          Hastalarım
        </a>
      </li> -->
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
        <i class="bi bi-gear-fill"></i>
        Profil Bilgilerim
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
        <i class="bi bi-box-arrow-left"></i>
        Çıkış Yap
      </a>
    </li>
  </ul>
</div>
