<body class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-white" class="sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
      <span class="fs primary-color">HASTA PANELİ</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" class="nav-link">
          <i class="bi bi-house-heart"></i>
          Ana Sayfa
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
          <i class="bi bi-calendar-heart"></i>
          Randevu Al
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
          <i class="bi bi-calendar3-week"></i>
          Bekleyen Randevular
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
          <i class="bi bi-calendar-check"></i>
          Geçmiş Randevular
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
          <i class="bi bi-journal"></i>
          Raporlar
        </a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
          <i class="bi bi-people-fill"></i>
          Hastalarım
        </a>
      </li> -->
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
          <i class="bi bi-gear-fill"></i>
          Profil Bilgilerim
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="nav-link text-dark" class="nav-link">
          <i class="bi bi-box-arrow-left"></i>
          Çıkış Yap
        </a>
      </li>
    </ul>    
</body>
  