<div class="d-flex">
    <app-admin-sidebar></app-admin-sidebar>
  
    <div class="flex-grow-1 p-3">
      <h2 style="color: #1565c0; font-size: 28px; text-align: center;margin-bottom: 19px;">BRANŞLAR</h2>
  
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success" [routerLink]="['/admin-add-branch']">Branş Ekle</button>
      </div>

      <table class="table table-striped">
        <thead class="thead-primary">
          <tr>
            <th scope="col" style="width: 20%;">Branş Adı</th>
           
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let branch of branchs">
            
            <td>{{ branch.name}}</td>
            

              <div class="btn-group" role="group">
                <button class="btn btn-sm btn-primary mr-2"  [routerLink]="['/admin-update-branch', branch.id]">
                  <i class="fa fa-pencil"></i>
                </button>


                <button class="btn btn-sm btn-danger" (click)="deleteBranch(branch.id.toString())">
                  <i class="fa fa-trash"></i>
                </button>
            </div> 
      
        </tbody>
      </table>
    </div>
  </div>
  
