
<div class="slider-container">
  <div class="slider" [style.transform]="getSliderTransform()">
    <!-- Slide 1 -->
    <div *ngFor="let slide of slides" class="slide" style="background-color: #3c75b1;">
      <div class="slide-content">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
      </div>
      <div class="slide-image">
        <img [src]="slide.image" style="width: 100%;" alt="Slide Image">
      </div>
    </div>
  </div>
  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>
</div>
