

<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">
      <img src="assets/Logo1.jpg" width="150" height="100" class="d-inline-block align-top" alt="Logo">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="font-size: 1.2rem" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 1.2rem" routerLink="/branches" >Tıbbi Birimler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 1.2rem" routerLink="/doctors">Doktorlarımız</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" style="font-size: 1.2rem" href="about">Hakkımızda</a>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 1.2rem" routerLink="/contact">Bize Ulaşın</a>
        </li>



        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex " role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success form-control me-5 justify-content-around" type="submit">Search</button>
      </form>

      <!-- <form class="d-flex ">
          <button class="btn btn-outline-success form-control me-5 "  type="submit">RANDEVU AL</button>
        </form> -->
        <form class="d-flex ">
          <button class="btn btn-success"  type="submit">RANDEVU AL</button>
        </form>

    </div>
