/* Navbar background and text styling */
.navbar {
  background-color: #0066ae !important; /* Navbar background color */
  padding: 10px 0; /* Adjusts the height of the navbar */
  z-index: 2000;
  position: absolute; /* Positions the navbar absolutely */
  top: 20px; /* 20px margin from the top */
  left: 20px; /* 20px margin from the left */
  right: 20px; /* 20px margin from the right */
  height: 100px; /* Fixed height for the navbar */
  border-radius: 16px; /* Rounded corners */
}

.navbar .nav-link {
  color: white !important; /* Navbar link color */
  font-size: 1.2rem; /* Slightly smaller font size for links */
  margin-right: 15px; /* Right margin */
  padding: 5px 0; /* Padding for links */
}

.navbar .nav-link:hover {
  color: #cccccc !important; /* Color on hover */
}

.navbar .navbar-brand,
.navbar .navbar-toggler-icon {
  color: white !important; /* Navbar brand text and toggler icon color */
}

.navbar .form-control {
  font-family: 'Manrope', sans-serif; /* Form control font */
  font-size: 14px; /* Font size for form control */
  height: 30px; /* Reduce input height */
}

.navbar .btn-success {
  background-color: #0056a3; /* Background color for success button */
  border-color: white; /* Border color for button */
  font-family: 'Manrope', sans-serif; /* Button font */
  font-size: 14px; /* Button font size */
  padding: 5px 10px; /* Padding for button */
  margin-right: 14px; /* Right margin for button */
}

.navbar .btn-success:hover {
  background-color: #ecf0f3; /* Background color on hover */
  border-color: #0056a3; /* Border color on hover */
  color: #0056a3; /* Text color on hover */
}

#logo {
  max-width: 140px; /* Maximum width for logo */
  max-height: 80px; /* Maximum height for logo */
  width: auto; /* Auto width */
  height: auto; /* Auto height */
  display: inline-block; /* Inline block display */
  vertical-align: top; /* Align to top */
  margin-right: 10px; /* Right margin */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  margin-right: 40px; /* Additional right margin */
  cursor: pointer; /* Pointer cursor on hover */
}

.dropdown-menu {
  position: absolute;
  overflow: visible; /* Allow overflow for dropdown */
  z-index: 5000; /* Z-index for dropdown */
}

.dropdown:hover .dropdown-menu {
  display: block;
}

ul li a:hover {
  background-color: #7fb2e8; /* Background color on hover */
}
