
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="assets/images/logo/logo.png"  class="d-inline-block align-top" alt="Logo" id="logo" routerLink=""  >
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" routerLink="">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/branches" >Tıbbi Birimler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/doctors">Doktorlarımız</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/about">Hakkımızda</a>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/contact">Bize Ulaşın</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex " role="search">
        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
      </form>

      <!-- <form class="d-flex ">
          <button class="btn btn-outline-success form-control me-5 "  type="submit">RANDEVU AL</button>
        </form> -->
        <form class="d-flex">
          <div class="btn-group" *ngIf="!isLoggedIn">
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              RANDEVU AL
            </button>
            <ul class="dropdown-menu" id="dropdown-menu">
              <li><a class="dropdown-item" routerLink="login">Üye Girişi</a></li>
              <li><a class="dropdown-item" routerLink="register">Üye Ol</a></li>
            </ul>
          </div>
          <div class="btn-group" *ngIf="isLoggedIn">
            <button type="button" class="btn btn-success" routerLink="appointments">RANDEVU AL</button>
            <button type="button" class="btn btn-success" routerLink="doctor-sidebar">Hesabım</button>
          </div>
        </form>
    </div>
  </div>
</nav>
