<app-basic-layout>
<body>
  <div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="col-md-6">
      <div class="card border-0 ">
        <div class="card-header ">
          <h3 class="mb-0">Giriş Yap</h3>
        </div>
        <div class="card-body">
          <!-- Logo -->
          <div class="text-center mb-4">
            <img src="assets/images/logo/logo.png" alt="Hospital Logo" class="img-fluid" style="max-width: 300px;">
          </div>
          <!-- End Logo -->
          <form>
            <div class="form-group">
              <label for="email">E-posta</label>
              <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password" class="form-label">Şifre</label>
              <input type="password" id="password" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
                Şifreniz en az 8 karakter olmalıdır.1 büyük harf,1 küçük harf ve rakam içermelidir.
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
          </form>
          <div class="text mt-3">
            <a href="#" class="text-primary" >Şifremi Unuttum</a>
          </div>
          <div class="text mt-3">
            <label>Hala hesabın yok mu?</label><a class="text-primary" href="register">Üye Ol</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS (Optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</app-basic-layout>
