
<app-basic-layout>
    <div class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <!-- <img src="assets/obesity-surgery.png" class="img-fluid" alt="Obezite Cerrahisi"> -->
                    <app-slider></app-slider>
                </div>
                <div class="col-lg-4 col-md-12 d-flex flex-column justify-content-center">
                    <div class="icon-boxes">
                        <a href="javascript:openOnlineDateModal()" class="icon-box text-center"><!--yok onlinedatemodal-->
                            <div>
                              <!-- <i class="fa-thin fa-calendar-check fa-shake fa-2x mb-2" style="color: #3b5ec2;"></i> -->
                              <fa-icon [icon]="icon" size="2x" style="color:#3b5ec2; ; "></fa-icon>
                                <!-- <i class="fal fa-calendar-edit fa-2x mb-2"></i>
                                <figure>
                                    <i class="fal fa-calendar-edit"></i>
                                </figure> -->
                                <h4>Online Randevu</h4>
                            </div>
                        </a>
                        <a href="/doktorlarimiz" class="icon-box text-center"><!--doktorlarımıza bağlanacak-->
                            <div>
                                <!-- <i class="fal fa-user-md fa-2x mb-2"></i> -->
                                <fa-icon [icon]="icon2" size="2x" style="color:#3b5ec2;"></fa-icon>
                                <h4>Doktorlarımız</h4>
                            </div>
                        </a>
                        <a href="javascript:openEresultModal()"
                            class="icon-box text-center"><!--raporlara buradan erişmeyiz sanıyorum ki-->
                            <div>
                                <!-- <i class="fal fa-clipboard-check fa-2x mb-2"></i> -->
                                <fa-icon [icon]="icon3" size="2x" style="color:#3b5ec2;"></fa-icon>
                                <h4>e-Sonuç</h4>
                            </div>
                        </a>
                        <a href="/hastanelerimiz" class="icon-box text-center"><!--hangi hastanelerimiz?-->
                            <div>
                              <fa-icon [icon]="icon4" size="2x" style="color:#3b5ec2;"></fa-icon>
                                <!-- <i class="fal fa-hospitals fa-2x mb-2"></i> -->
                                <h4>Hastanelerimiz</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5"></div>
        <div class="container mt-5">
            <div class="row mt-5">
                <div class="col-md-8">
                    <h2>Neden P5 Hastaneleri?</h2>
                    <p>
                        "Sağlığınız El Üstünde" sloganıyla şekillenen yeni vizyonumuz ve 21 yıllık sağlık tecrübemiz ile,
                        hizmet kalitemizi dünya standartlarına taşımayı hedefliyor, sizlerin medarı iftiharı olmak için
                        çalışmaya devam ediyoruz.
                    </p>
                    <div class="d-flex justify-content-around">
                        <div>
                            <img src="assets/images/homepage/vision-icon.png" alt="Gelecek Vizyonu" class="img-fluid">
                            <p>Gelecek Vizyonu</p>
                        </div>
                        <div>
                            <img src="assets/images/homepage/patient-experience-icon.png" alt="Hasta Deneyimi" class="img-fluid">
                            <p>Hasta Deneyimi</p>
                        </div>
                        <div>
                            <img src="assets/images/homepage/quality-icon.png" alt="Kalitede Mükemmelik" class="img-fluid">
                            <p>Kalitede Mükemmelik</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 text-center">
                    <img src="assets/images/homepage/24-years.jpeg" class="img-fluid" alt="Banner-aside">
                </div>
            </div>
        </div>

        <div class="container step-section">
            <div class="row d-flex justify-content-center">
                <div class="banner-aside align-items-center d-md-flex col-lg-12 col-md-8 col-sm-8 col-10">
                    <figure class="col-12 col-lg-5 mr-lg-5 mr-md-3">
                        <img src="assets/images/homepage/sagliginiz-el-ustunde.jpg" class="img-aside" alt="Banner-aside" width="470"
                            height="447">
                    </figure>
                    <div class="banner-content">

                        <h3 class="banner-title">Sağlığınız El Üstünde</h3>
                        <p>
                            2000 yılında poliklinik hizmetleri kapsamında küçük adımlarla başlayan sağlık yolculuğumuz,
                            İzmit, Gölcük, Gebze ve Sakarya’da Tıp Merkezleri oluşumları ile güçlenerek, 2014 yılında
                            Gölcük, 2015 yılında Gebze ve 2016 yılında Sakarya Hastanelerimiz ile büyük adımlara dönüştü.
                            <br>
                            Bu dönüşüm 20 yılın tecrübesi ve birikimiyle, sizlerin desteği ve güveniyle büyüyerek P5
                            çatısı altında buluştu.
                        </p>
                        <div class="banner-actions">
                            <a href="#" data-toggle="modal" data-target="#videoModal"
                                class="btn btn-sm btn-primary-dark-color">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</app-basic-layout>

