<div class="d-flex">
    <app-patient-sidebar></app-patient-sidebar>
    
    <div class="content flex-grow-1 p-3">
      <div class="row">
        <div class="col-6 section">
          <div class="past-appointments">
            <h2
              style="
                color: #1565c0;
                font-size: 15px;
                text-align: center;
                margin-bottom: 19px;
              "
            >
              Geçmiş Randevularım
            </h2>
            <table class="table table-bordered  border-primary">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" style="width: 50%">Mesaj</th>
                  <th scope="col" style="width: 25%">Tarih</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Örnek Mesaj</td>
                  <td>Örnek Tarih</td>                
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-6 section">
          <!-- Sağ üst köşe içeriği buraya -->
        </div>
      </div>
      <div class="row">
        <div class="col-6 section">
          <!-- Sol alt köşe içeriği buraya -->
        </div>
        <div class="col-6 section">
          <!-- Sağ alt köşe içeriği buraya -->
        </div>
      </div>
    </div>
  </div>
  