<div class="d-flex">
  <app-doctor-sidebar></app-doctor-sidebar>
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" src="https://via.placeholder.com/180">
          <span class="font-weight-bold">İsim Soyisim</span>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profil Bilgilerim</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6"><label class="labels">Ad</label><input type="text" class="form-control" placeholder="Adınız" value=""></div>
            <div class="col-md-6"><label class="labels">Soyad</label><input type="text" class="form-control" placeholder="Soyadınız" value=""></div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6"><label class="labels">Doğum Tarihi</label><input type="date" class="form-control" value=""></div>
            <div class="col-md-6">
              <label class="labels">Cinsiyet</label>
              <select class="form-control">
                <option value="male">Erkek</option>
                <option value="female">Kadın</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12"><label class="labels">Cep telefonu numarası</label><input type="text" class="form-control" placeholder="05.." value=""></div>
            <div class="col-md-12"><label class="labels">Adres</label><input type="text" class="form-control" placeholder="Adresiniz" value=""></div>
            <div class="col-md-12"><label class="labels">Posta Kodu</label><input type="text" class="form-control" placeholder="Posta kodunuz" value=""></div>
            <div class="col-md-12"><label class="labels">Şehir</label><input type="text" class="form-control" placeholder="Yaşadığınız şehir" value=""></div>
            <div class="col-md-12"><label class="labels">İlçe</label><input type="text" class="form-control" placeholder="Yaşadığınız ilçe" value=""></div>
            <div class="col-md-12"><label class="labels">Mail adresi</label><input type="text" class="form-control" placeholder="Mail adresiniz" value=""></div>
          </div>
          <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Bilgileri kaydet</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
