<div class="about-container">
  <h1>Hakkımızda</h1>
  <p>
    Pair 5 Hastanesi 1948 yılında bugün halen bulunduğu Kavaklıdere Bülten Sokak’taki yerinde kurulmuş olan Türkiye'nin’nın ilk özel hastanesidir.


    Kuruluşundan itibaren birçok branşta hizmet veren hastanemizde bugün; Ortopedi ve Travmatoloji, Fizik Tedavi ve Rehabilitasyon, Beyin Cerrahisi (Nöroşirurji), Genel Cerrahi, Kulak Burun Boğaz, Üroloji, İç Hastalıkları (Dahiliye), Kardiyoloji, Nöroloji, Göğüs Hastalıkları, Anesteziyoloji ve Reanimasyon, Beslenme ve Diyetetik, Radyoloji ve Tüm Laboratuar Hizmetleri dallarında hizmet verilmektedir.
  </p>
  <p>
    Son yıllar içerisinde yapılan köklü altyapı ve tıbbi teknolojik yatırımları ile geçmişten gelen sağlam deneyimlerin birleştirilmesi, Pair 5 Hastanesi’nin hizmet verdiği alanlardaki güvenilirliğini ileri noktalara taşımıştır.
  </p>
  <h2>Vizyonumuz</h2>
  <p>
    Ulusal ve uluslararası alanda tıbbın ulaştığı en son gelişmeleri yakından takip edip uygulayarak, yurt içi ve yurt dışındaki sağlık kuruluşlarıyla hizmet gücümüzü birleştirerek kaliteli sağlık hizmeti sunmaktır.
  </p>
  <h2>Misyonumuz</h2>
  <p>
    Bilimsel araştırmalarda ve yeni uygulamalarda öncü, hasta / hasta yakını ve çalışan memnuniyetini önemseyen, tedavi süreçleri tamamlanana kadar verilen tüm sağlık hizmetlerinde hasta ve çalışan güvenliğini en üst düzeyde tutarak kaliteli bir sağlık hizmeti sunmaktır.
  </p>
  <h2>Değerlerimiz</h2>
  <ul>
    <li>Hasta Odaklı Hizmet</li>
    <li>Güvenilirlik ve Şeffaflık</li>
    <li>Etik ve Profesyonellik</li>
    <li>Yenilikçilik ve Sürekli Gelişim</li>
    <li>Topluma Katkı</li>
  </ul>

</div>
