<app-navbar></app-navbar>

<div class="about-container">
  <h2>Hakkımızda</h2>
  <p>
    Pair 5 Hastanesi 1948 yılında bugün halen bulunduğu Kavaklıdere Bülten Sokak’taki yerinde kurulmuş olan Türkiye'nin’nın ilk özel hastanesidir.


    Kuruluşundan itibaren birçok branşta hizmet veren hastanemizde bugün; Ortopedi ve Travmatoloji, Fizik Tedavi ve Rehabilitasyon, Beyin Cerrahisi (Nöroşirurji), Genel Cerrahi, Kulak Burun Boğaz, Üroloji, İç Hastalıkları (Dahiliye), Kardiyoloji, Nöroloji, Göğüs Hastalıkları, Anesteziyoloji ve Reanimasyon, Beslenme ve Diyetetik, Radyoloji ve Tüm Laboratuar Hizmetleri dallarında hizmet verilmektedir.
  </p>
  <p>
    Son yıllar içerisinde yapılan köklü altyapı ve tıbbi teknolojik yatırımları ile geçmişten gelen sağlam deneyimlerin birleştirilmesi, Pair 5 Hastanesi’nin hizmet verdiği alanlardaki güvenilirliğini ileri noktalara taşımıştır.
  </p>
</div>
  <div class="image-section">
    <img src="assets\images\about-bg.jpg" alt="Hakkımızda Resmi">
  </div>
  <div class="about-container">
  <h2>Vizyonumuz</h2>
  <p>
    Hastanemizin vizyonu, toplumun sağlığını koruyarak sağlıklı bir gelecek oluşturmaktır. Bizler, modern tıp teknolojileri ve son gelişmeleri takip ederek, kaliteli sağlık hizmeti sunarak hastalarımızın hayatlarını iyileştirmeyi ve korumayı hedeflemekteyiz.
    Sağlıkta ve hastalıkta her zaman hastalarımızın yanında yer alarak, saygı, şefkat ve adalet ilkelerine uygun olarak kişiye özel tedavi planları hazırlamak, hastalarımızın sağlığına en iyi şekilde hizmet etmek için önceliğimizdir. Bu doğrultuda, sağlık çalışanlarımızın kariyer hedeflerine destek olmak ve gelişimlerini sağlamak için sürekli olarak eğitim ve gelişim programları sunmaktayız.
  </p>
  </div>
  <div class="image-section">
    <img src="assets\images\doctors.jpg" alt="Hakkımızda Resmi">
  </div>
  <div class="about-container">
  <h2>Misyonumuz</h2>
  <p>
    Hastanemizin misyonu, toplumun sağlığını koruyarak sağlıklı bir gelecek için çalışmaktır. Bizler, modern tıp teknolojileri ve son gelişmeleri takip ederek, kaliteli sağlık hizmeti sunarak hastalarımızın hayatlarını iyileştirmeyi ve korumayı hedeflemekteyiz.
Sağlıkta ve hastalıkta her zaman hastalarımızın yanında yer alarak, saygı, şefkat ve adalet ilkelerine uygun olarak kişiye özel tedavi planları hazırlamaktayız. Sağlık çalışanlarımızın kariyer hedeflerine destek olmayı ve gelişimlerini sağlamayı amaçlamaktayız. Bu doğrultuda, çalışanlarımıza eğitim ve gelişim fırsatları sunarak, onların yeteneklerini en üst düzeye çıkarmalarına yardımcı oluyoruz.

Hastalarımızın memnuniyeti ve güvenliği bizim için önceliklidir. Tıbbi etik değerlere uygun hareket ederek, hastalarımızın sağlığına en iyi şekilde hizmet etmeyi amaçlıyoruz. Ayrıca, hastalarımızın sağlıklı bir yaşam sürdürebilmeleri için sağlık eğitimi vererek, onların bilinçlenmelerine katkı sağlıyoruz.

Hastanemiz, sağlıkta kaliteli hizmet sunan bir kurum olarak, toplumun sağlık ihtiyaçlarını karşılamak ve sağlıklı bir gelecek için çalışmakta. Sağlıklı yaşam, huzurlu gelecek anlayışıyla, tüm hastalarımıza sağlık hizmeti sunarak, toplumda fark yaratmayı amaçlıyoruz.
  </p>
  </div>
  <div class="image-section">
    <img src="assets\images\sağlık2.jpeg" alt="Hakkımızda Resmi">
  </div>
  <div class="about-container">
  <h2>Değerlerimiz</h2>
  <ul>
    <li>Hasta Odaklı Hizmet</li>
    <li>Güvenilirlik ve Şeffaflık</li>
    <li>Etik ve Profesyonellik</li>
    <li>Yenilikçilik ve Sürekli Gelişim</li>
    <li>Topluma Katkı</li>
  </ul>
</div>
<app-footer></app-footer>
