<div class="d-flex">
  <app-doctor-sidebar></app-doctor-sidebar>

  <div class="flex-grow-1 p-3">
    <h2 style="color: #1565c0; font-size: 28px; text-align: center;margin-bottom: 19px;">RANDEVULU HASTALARIM</h2>

    <table class="table table-striped">
      <thead class="thead-primary">
        <tr>
          <th scope="col" style="width: 25%;">Hasta Adı Soyadı</th>
          <th scope="col" style="width: 15%;">Doğum Tarihi</th>
          <th scope="col" style="width: 15%;">Yaşı</th>
          <th scope="col" style="width: 15%;">TC.NO</th> 
          <th scope="col" style="width: 15%;">Telefon No</th> 
          <!-- <th scope="col" style="width: 15%;">Raporu</th> -->
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.patientFirstName }} {{ appointment.patientLastName}}</td>
          <td>{{ appointment.patientdateOfBirth}}</td>
          <td>{{ appointment.patientAge}}</td>
          <td>{{ appointment.patientnationalIdentity}}</td>
          <td>{{ appointment.patientPhone}}</td>
         
          <!-- <td>
            <button class="btn btn-primary btn-sm">Raporu Görüntüle</button>
          </td> -->
    
      </tbody>
    </table>
  </div>
</div>
